# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
.pnpm-store

# testing
coverage
.swc

# next.js
.next/
out/

# production
build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
*.d.json.ts

*storybook.log

# turbo
.turbo

# misc
.DS_Store
*.pem
.eslintcache
apps/web/public/cesium
storybook-static
CLAUDE.md
.claude

# Playwright
**/test-results/
**/playwright-report/
**/blob-report/
**/playwright/.cache/
**/playwright/.auth/

# prisma
**/generated/prisma
