# Improve performance and reliability
strict-peer-dependencies=false
auto-install-peers=true
resolution-mode=highest

# Hoist settings for better performance
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@commitlint/*

# Cache settings
prefer-offline=true
side-effects-cache=true